*{margin: 0; padding: 0;} 

.navbar-light .navbar-nav.thanhmenu .nav-link {
    font-size: 15px;
    padding: 14px;
    letter-spacing: 1px;
    margin: 0px 40px;
}
.signup-header__background {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.banner-area {
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1559825481-12a05cc00344?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1402&q=80);
    background-size: cover;
}
.logo {
    width: 30%;
    float: left;
    line-height: 50px
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
}
.nav {
    float: right
}
.nav a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    margin: 0 10px;
    color: #fff;
}
.container h2{
    font-family: sans-serif;
    letter-spacing: 4px;
    font-size: 40px;
    margin: 0px;
}
.container h3{
    font-family: sans-serif;
    letter-spacing: 4px;
    font-size: 30px;
    margin: 0px;
}
header  {
    height: 100px;
    width: 100%;
    z-index: 12;
    position: absolute;
}
.banner-area h3 {
    padding-top: 12%;
    font-size: 80px;
    color: #fff;
    font-family: 'Poppins';
    text-transform: uppercase;
}
.wrap {
    padding-top: 50px;
}
.jumbotron {
    background-color:transparent !important; 
}
.bg-black {
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1559825481-12a05cc00344?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1402&q=80);
}
.py-5 {
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
}
.fa-facebook {
        padding-right: 13px;
}
.phansearch {
    position: relative;
}
.khoilistlink.my-2 {
    border-bottom: 1px solid #f0f0f0;
}

.khoilistlink ul.fontroboto {color: #c2c3c5;margin-left: 18px;}

.khoilistlink ul li a {
    color: #777;
    line-height: 44px;
    font-size: 14px;
}

.khoilistlink h3.fontoswarld {
    font-size: 18px;
    line-height: 50px;
    color: #333;
}

button.iconsearch {
    position: absolute;
    top: 7px;
    right: 12px;
    background: none;
    border: none;
    color: #7f7f7f;
    cursor: pointer;
}

.phansearch {
    position: relative;
}
.ngaythang1 {
    line-height: 24px;
    font-size: 17px;
    display: inline-block;
    font-family: roboto slab;
    color: #777;
    padding-bottom: 19px;
}
.mottinchuan p.fontroboto {
    color: #777;
    line-height: 24px;
    font-size: 14px;
}
.mottinchuan img {
    width: 100%;
}
.contact .mottinchuan img {
    margin-bottom: 20px;
}
.fontoswarld{font-family: 'Oswald', sans-serif;}

a.tieudetin1.fontoswarld {}

.dtdb.fontoswarld {
    font-weight: bold;
    font-size: 25px;
}